@font-face {
  font-family: 'mc';
  src: url('../../assets/fonts/mc.ttf?cfrvdy') format('truetype'),
    url('../../assets/fonts/mc.woff?cfrvdy') format('woff'),
    url('../../assets/fonts/mc.svg?cfrvdy#mc') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='mc-'],
[class*=' mc-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga=1';
  -moz-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga';
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mc-envelop:before {
  content: '\e945';
}
.mc-github:before {
  content: '\eab0';
}
.mc-linkedin2:before {
  content: '\eaca';
}
.mc-stackoverflow:before {
  content: '\ead0';
}
